@using playbootstrap.Models
@model PageList<playbootstrap.Models.Goods>

@{
    ViewBag.Title = "产品列表";
}


@using (Html.BeginForm())
{

    @Html.TextBox("Search", null, new { @class = "form-control col-md-2", placeholder = "筛选内容" })
    <div class="btn-group" role="group" aria-label="...">
        <input type="submit" value="筛选" class="btn btn-default" />
        @Html.ActionLink("新增", "Create", null, new { @class = "btn btn-warning" })
    </div>
}

@Html.Partial("_Table", Model)

@Html.Partial("_Paging", Model.PageInfo)